html, body {
	margin:				0;
	padding:			0;
	width:				100%;
	font-family:		Arial,Helvetica,sans-serif;
	color:				#555;
	font-size:			100%;
	background:			url('../img/bg.jpg') repeat-x scroll center top transparent;
}

h1 {
	color:				#0099CC;
	font-size:			250%;
	line-height:		100pt;
	font-weight:		normal;
	margin:				10pt;
	padding:			0;
	display:			block;
	text-align:			center;
}

h2 {
	color:				#777;
	font-size:			175%;
	line-height:		18pt;
	font-weight:		normal;
	margin:				10pt;
	padding:			0;
	display:			block;
	text-align:			center;
}

a {
	display:			inline-block;
	color:				#0099CC;
	text-decoration:	none;
	margin:				10pt 0;
}

a:hover {
	color:				#FF6600;
}

q {
	quotes:				"\00BB" "\00AB";
}

.block {
	margin:				15pt auto;
	margin-bottom:		50pt;
	max-width:			450pt;
	padding:			15pt 10pt;
	text-align:			center;
	border:				1pt solid #CCC;
	border-radius:		5pt 5pt 5pt 5pt;
	box-shadow:			0 0 5px #AAA;
	background-color:	#FFF;
}

.list {
	word-spacing:		5pt;
}

.list .text {
	word-spacing:		normal;
}
